img {
    max-width: 100%;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-body;
    overflow-x: hidden;
    margin: 0;
    color: $tertiary;
    padding: 0;
}

.container-fluid {
    max-width: 1800px;
}

.btn {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
        height: 44px;
    }

    &:focus {
        box-shadow: none;
        outline: 0;
    }
}

.form-select {
    font-size: 4rem;
    border: 0;
    font-weight: 800;
    color: $grey;
}

.text-italic {
    font-style: italic;
}

.text-decoration-none {
    text-decoration: none;
}

//line-height
.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 55px;
    z-index: 9;
    background: $tertiary;
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $tertiary;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}